<div class="module eventbrite" ng-controller="eventbriteController">
    <!-- write your module html here -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                    <div id="myCalendar"></div>
            </div>
        </div>
    </div>
    <!-- end module html -->
</div>
